@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sora:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Cores */
    --blue: #0F9AFE;
    --white: #FFF;
    --white-200: #EFF8FF;
    --white-400: #EFF8FF;
    --gray-light: #DBDBDB;
    --gray: #6E7275;
    --gray-200: #293145;

    /* Tipografia */
    --sora: 'Inter', sans-serif;
    --inter: 'Sora', sans-serif;
}

main {
    background: #EFF8FF;
    width: 100%;
}


.wrapper {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    cursor: pointer;
}

.menu-mobile {
    display: none;
    margin: 0;
}

.menu {
    display: flex;
    gap: 60px;
    list-style: none;
}

.menu__item {
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 500;
}

.menu__item a {
    text-decoration: none;
    position: relative;
    color: var(--gray);
}

.menu__item a::after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.menu__item a:hover::after {
    width: 100%;
}


/* .menu__item a:hover {
    border-bottom: 1px solid var(--blue);
} */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__title {
    color: var(--gray-200);
    font-family: var(--sora);
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 50px;
    width: 574px;
}

.btn_register {
    color: var(--white);
    background-color: var(--blue);
    padding: 16px 36px;
    border-radius: 50px;
    text-decoration: none;
    font-family: var(--inter);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    transition: .4s;
}

.btn_register:hover {
    background-color: #1071b6;
}

.functions {
    background-color: var(--white);
}

.functions__title {
    color: var(--gray-200);
    font-size: 2.5rem;
    font-family: var(--sora);
    font-weight: 600;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 84px;
}

.functions__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.connection__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.connection__box:hover {
    transform: scale(1.1);
    transition: .3s;
}

.box__title {
    color: var(--gray-200);
    font-size: 1.12rem;
    font-family: var(--sora);
    font-weight: 600;
    padding: 34px 0 16px 0;
}

.box__description {
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 400;
    padding-bottom: 109px;
    width: 230px;
    text-align: center;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 128px;
}

.app__title {
    color: var(--gray-200);
    font-size: 2rem;
    font-family: var(--sora);
    font-weight: 600;
    padding-top: 117px;
}

.app__description {
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 400;
    width: 65%;
    padding: 24px 0 36px 0;
}

.img__lojas {
    cursor: pointer;
}

.app__image img {
    margin-top: 64px;
    padding-bottom: 50px;
}

.planos {
    background-color: var(--white);
    padding-bottom: 32px;
}

.planos__title {
    color: var(--gray-200);
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--sora);
    font-weight: 600;
    padding: 50px 0 16px 0;
}

.planos__description {
    color: var(--gray);
    font-family: var(--inter);
    font-size: 1.12rem;
    text-align: center;
    padding-bottom: 96px;
}

.planos__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    background-color: var(--white-400);
    width: 370px;
    height: 470px;
    margin-bottom: 130px;
    font-family: var(--inter);
    transition: .4s;
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-15px);
    transition: .4s;
}

.bg-gray {
    background-color: var(--gray-200);
}

.gray__title {
    color: var(--white);
    font-family: var(--sora);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 32px 0 14px 0;
}

.gray__description {
    color: var(--gray-light);
    font-family: var(--inter);
    font-size: 1.12rem;
    text-align: center;
    padding: 0 35px 58px 35px;
}

.preferred {
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    padding:5px 32px;
    border-radius: 15px;
    font-size: 14px;
    font-family: var(--inter);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 164px;
    margin-bottom: 20px;
}

.card__valor {
    font-family: var(--inter);
    font-weight: 700;
}

.bg-gray .card__valor {
    color: var(--white);
}

.bg-gray .card__description {
    color: var(--gray-light);
}

.card__title {
    color: var(--gray-200);
    font-family: var(--sora);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}

.card__valor {
    color: var(--gray-200);
    text-align: center;
    font-size: 3.12rem;
}

.card__valor span {
    font-size: 1.62rem;
}

.cifrao {
    font-size: 1.25rem;
}

.card__description {
    color: var(--gray);
    font-size: 1.12rem;
    text-align: center;
    padding: 48px 35px 58px 35px;
    font-family: var(--inter);
}

.card__btn {
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.25rem;
    padding: 8px 80px;
    border-radius: 50px;
    text-decoration: none;
    font-family: var(--sora);
    display: flex;
    width: 229px;
    margin: 0 auto;
    transition: .4s;
}

.card__btn:hover {
    background-color: #1071b6;
}

.contact {
    height: 382px;
    background-image: url('./img/bg_contato.png');
    background-size: cover;
    background-position: bottom;
}

.shadow {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color:rgba(41, 49, 69, 0.7);
}

.contact__title {
    color: var(--white);
    font-size: 2.5rem;
    font-family: var(--sora);
    font-weight: 600;
    text-align: center;
    padding: 50px 0 16px 0;
}

.contact__description {
    color: var(--gray-light);
    font-family: var(--inter);
    font-size: 1.12rem;
    text-align: center;
    margin: 0 auto;
    width: 45%;
}

.contact__form {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 100px;
}

.contact__input {
    background-color: transparent;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    padding: 10px;
    width: 350px;
    font-size: 1rem;
    font-family: var(--inter);
}

.contact__input::placeholder {
    color: var(--white);
    font-size: 1.12rem;
    font-family: var(--inter);
}

.contact__input:focus {
    outline-color: var(--blue);
}

.contact__form > button {
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.12rem;
    font-family: var(--inter);
    padding: 8px 32px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: var(--gray-200);
    transition: .4s;
}

footer {
    background-color: var(--white);
}

footer p {
    padding: 41px 0 37px 0;
    font-size: 1.25rem;
    font-family: var(--sora);
    font-weight: 400;
    text-align: center;
}

@media (max-width: 1024px) {
    .home__title {
        font-size: 2.6rem;
        width: 480px;
    }

    .home__img img {
        width: 360px;
    }

    .functions__box {
        gap: 100px;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    .home__title {
        width: 480px;
        font-size: 2.2rem;
    }

    .home__img img {
        width: 280px;
    }

    .functions__box {
        gap: 50px;
    } 
}

@media (max-width: 800px) {
    .menu {
        gap: 20px;
    }

    .home {
        flex-direction: column;
        padding-bottom: 64px;
    }

    .home__img {
        order: -1;
    }

    .home__title {
        text-align: center;
    }

    .btn_register {
        margin: 0 auto;
    }

    .functions__box {
        flex-direction: column;
        gap: 0;
    }

    .box__description {
        padding-bottom: 100px;
    }

    .app {
        flex-direction: column;
    }

    .app__content {
        order: 2;
        padding: 0;
        margin-bottom: 64px;
    }

    .app__title {
        text-align: center;
        padding: 0;
    }

    .app__description {
        width: 90%;
        margin: 0 auto;
    }

    .img__lojas {
        margin: 0 auto;
    }

    .planos__description {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 64px;
    }

    .planos__cards {
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
        margin: 0;
    }

    .card__btn {
        width: 50%;
        justify-content: center;
    }

    .contact__description {
        width: 90%;
    }
}

@media (max-width: 630px) {
    .menu {
        gap: 20px;
    }

    .card__btn {
        width: 50%;
        justify-content: center;
    }
}

@media (max-width: 590px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        display: inline-block;
        width: 35px;
    }

    .home__img {
        text-align: center;
    }

    .home__img img {
        width: 90%;
    }

    .home__title {
        font-size: 2.5rem;
        width: 100%;
    }

    .functions__title {
        font-size: 2.5rem;
    }
}

@media (min-width: 427px) and (max-width: 589px) {
    .menu-mobile {
        width: 35px;
    }

    .card {
        width: 80%;
    }

    .planos__cards {
        flex-direction: column;
    }

    .contact__form {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
}

@media (min-width: 375px) and (max-width: 426px) {
    .menu-mobile {
        width: 35px;
    }


    .app__image {
        text-align: center;
    }

    .app__image img {
        width: 80%;
    }

    .planos__cards {
        flex-direction: column;
    }

    .card {
        width: 80%;
    }

    .img__lojas {
        display: flex;
    }

    .contact__form {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .menu-mobile {
        width: 25px;
        height: 25px;
    }

    .home__title, .functions__title, .app__title, .planos__title, .contact__title {
        font-size: 2rem;
    }

    .app__image {
        text-align: center;
    }

    .app__image img {
        width: 80%;
    }

    .img__lojas {
        display: flex;
    } 

    .img__lojas img {
        width: 50%;
    }

    .planos__cards {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }

    .contact__form {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .contact__input {
        width: 280px;
    }

    footer  p {
        font-size: 1rem;
    }
}

